:root {
  --bg-color-black: #2f303a;
  --blue: #2196f3;
  --black: #212121;
  --grey: #757575;
  --white: #ffffff;
  --contacts-footer: rgba(255, 255, 255, 0.6);
  --inactive-bg-button: #f5f4fa;
}
.sort-button {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black);
  background-color: var(--inactive-bg-button);
}
.sort-button:hover {
  color: var(--white);
  background-color: var(--blue);
}
.product-name {
  font-family: Roboto;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--black);
}
.products-type {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--grey);
}
